@import "tailwindcss";

/* Reinicio del css*/

*{margin: 0; padding: 0; 
/*  outline: 1px solid tomato;*/
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

@font-face {
  font-family: "titulos.ttf";
  src: url("/fonts/titulos.ttf");
}

@font-face {
  font-family: "texto.ttf";
  src: url("/fonts/texto.ttf");
}

/* body{
  background-color: #252525;
  color: white;
  button{
    @apply bg-blue-500 w-2xs h-20 rounded-2xl
  } 
} */
    

/* Propiedades generales del documento*/
/* #  left: 10vw;  */
/* #  with:80vw    */
/* #  H1 2.2vw-2vw */ 
/* #  p 1.2vw   (para titulo)   */ 
/* #  p 1.5vw   (para texto)   */ 
/* #  Nota importante: meter los @media al final para que
      se apliquen correctamente */ 
/* #  @media que falta por re-rediseñar 430px */
/* #                                    */      
html{
  background-color: #252525;
  color: white;
  
}

/* Estilos del header */

.headermaincontainer{
  font-family: "titulos.ttf";
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vw;
  z-index: 1;
  

  
  >div{

    
    position: absolute;
    left: 10vw;
    height: 6vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    /* Titulo + logo*/
    >div:nth-child(1){
      
      height: 6vw;
      width: 35vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75vw;
      img{
        border-radius: 1vw;
        border: 0.25vw solid goldenrod;
        width: 5.7vw;
        height:5.7vw;
      }
      >h1{
        font-size: 2vw;
      }
    }

  /* Opciones de seleccion + toggle dark-light*/
    >div:nth-child(2){
      font-size: 1.2vw;
      text-wrap: nowrap;
      width: 27vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;
      
      >a:hover{
        border-bottom: 0.35vw solid white ;
        
      }
      
    }
    
  
  }
  
}

/* Estilos del main */

.mainmaincontainer{
  
  color: #252525;
  position: absolute;
  top: 7vw;
  width: 100%;
  height: 50vw;
  
  /* Primera seccion */
  >section:nth-child(1){

    /* background-color: whitesmoke; */
    background: url("/img/pixel_art_wintery_day_by_subtlerealityshift_dgs35ci-fullview.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 28vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >article:nth-child(1){
      background-color: #252525a8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 4vw;
      left: 10vw;
      width: 60vw;
      padding: 2vw;
      gap: 1vw;
      border-radius: 1.5vw;
      h1{
        font-size: 2vw;
        font-family: "titulos.ttf";
      }

      p{
        font-family: "texto.ttf";
        font-size: 1.5vw;
      }

      div{
        font-family: "texto.ttf";
        display: flex;
        flex-direction: row;
        gap: 2.2vw;
        
        button{
          
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1.2vw;
          height: 4.9vw;
          width: 18vw;
          border: 0.2vw solid black;
          font-size: 1.5vw;
          cursor: pointer;
          
        }

        button:nth-child(1){
          background-color: white;
          color: black;
        }
        button:nth-child(2){
          background-color: black;
         }
        
        button:nth-child(1):hover{
          background-color: rgb(235, 235, 235);
         }

        button:nth-child(2):hover{
          background-color: rgb(48, 48, 48);
         }

      }


      

    }
  }
/* Primera seccion tarjetas */
  >section:nth-child(2){
    background-color: #252525;
    color:white;
    width: 100%;
    position: absolute;
    top: 28vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    >article{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      top: 3.5vw;

      >div:nth-child(1){
        
        display: flex;
        flex-direction: column;
        gap: 1vw;
        text-align: center;
        
        h1{
          font-family: "titulos.ttf";
          font-size: 2vw;
        }
        
        p{
          font-size: 1.5vw;
          font-family: "texto.ttf";
        }
      }

      >div:nth-child(2){
        
        width: 79vw;
        height: 25vw;
        
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        
        
        
        >div{
          border: 0.25vw whitesmoke solid;
          border-radius: 1vw;
          display: flex;
          flex-direction: column;
          gap: 1vw;
          background-color: #111111;
          width: 24vw;
          height: 25vw;
          padding: 2vw;

          h1{
            font-family: "titulos.ttf";
            font-size: 1.8vw;
          }

          p{
            font-family: "texto.ttf";
            font-size: 1.5vw;
          }

        }

        
        >div:nth-child(1){
          background: url("/img/backa.gif");
          background-size: cover;
          background-position: center;
          opacity: 0.9;
        }
        
        >div:nth-child(2){
          background: url("/img/choseyourrace.png");
          background-size: cover;
          background-position: center;
          opacity: 0.9;
          
        }
        >div:nth-child(3){
          opacity: 0.9;
          background: url("/img/backb.gif");
          background-size: cover;
          background-position: center;
        }
        


      }
      @media (max-width: 1024px) { 
        >div:nth-child(2){
          height: 63vw;
          gap: 2.5vw;
         >div{
           width: 100% !important;
           gap: 1vw !important;
           
           h1{
            font-size: 2.2vw
           }
           
           p{
            font-size: 2vw;
           }
           
         }
       }
      }

    }


  }
  

}

@media (max-width: 1024px){
  .mainmaincontainer{
    height: 120vw;
  }
}

/* seccion del footer*/
.footermaincontainer{
  position: absolute;
  display: flex;
  align-items: center;
  top:77vw;
  background-color: #111111;
  width: 100%;
  height: 9vw;
  >div:nth-child(1){
    
    position: absolute;
    height: 9vw;
    width: 80vw;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >p:nth-child(1){
      color: #c9c9c9;
      font-family: "texto.ttf";
      font-size: 1.6vw;
    }

    >div:nth-child(2){
      width: 30vw;
      height: 9vw;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 2vw;
      >p{
        color: #c9c9c9;
        font-family: "texto.ttf";
        font-size: 1.6vw;
      }
      
      >p:hover{
        border-bottom: 0.35vw solid  #c9c9c9;
      }
    }
  }
  
}


@media (max-width: 1024px){
  .footermaincontainer{
      
    top:130vw;    
  }
}


/* Clases de Create*/

.createbodycontainer{
  position: relative;
  margin: 0 auto;
  width: 80vw;

  


}

.createmaincontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  
  
  height: inherit;
  section:nth-child(1){
    background-color: #252525;
    height: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-family: "titulos.ttf";
    font-size: 2.2vw;

    .chevronLeftcreate{
      border: 0.25vw solid black;
      width: 5vw;
      height: 5vw;
      background-color: #111111;
      border-radius: 1vw;
      &:hover{
        background-color: #242424;
      }

    }
   
  }
  
}

/* panel de la opcion Race*/
.MuiAppBar-root .MuiTab-root {
  font-family: 'titulos.ttf', sans-serif !important;
  font-size: 2vw;
}

/* estilos de las targetas del contenedor  raza */
.racecreatecontainer{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 0.25vw solid whitesmoke;
  border-radius: 1vw;

  /*choose your race*/
  >div:nth-child(1){
    
    
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
    }
    >p{
      font-family: "texto.ttf";
      font-size: 2vw;    }
  }
  /* character name */
  >div:nth-child(2){
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    h2{
      font-family: "titulos.ttf";
      font-size: 2vw;
    }

    input{
      outline: 0.25vw solid whitesmoke;
      border-radius: 0.75vw;
      padding-left: 2vw;
      font-family: "texto.ttf";
      font-size: 2vw;
      height: 3.5vw;
      
    }
  }
  /* gender name */
  >div:nth-child(3){
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    h2{
      font-family: "titulos.ttf";
      font-size: 2vw;
    }
    >div{
      div{
        width: 100% ;
        margin-left: 0px;
        margin-top: 0px;
        color: whitesmoke;
        font-family: "texto.ttf", sans-serif !important;
        
      }
    }
  }
  
  /* Select a Race*/
  >div:nth-child(4){
    
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    >h2{
      font-family: "titulos.ttf";
      font-size: 2vw;
    }
    div{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2vw;
      >div{
        border-radius: 1vw;
        border: 0.25vw solid whitesmoke;
        padding: 1vw;
        display: flex;
        flex-direction: row;
        font-family: "texto.ttf";
        width: 48%;
        font-size: 2vw;
        >div{
          display: flex;
          flex-direction: column;
          border: none;
          justify-content: flex-start;
          width: 100%;
          
          h2{
            width: 100%;
            font-family: "titulos.ttf";
            font-size: 2vw;
          }
          img{
            background-color: #252525;
            border: solid 0.25vw whitesmoke;
            border-radius: 1vw;
            margin-top: 1vw;
            margin-left: 30%;
            padding: 0.75vw;
            position: sticky;
            left: 0vw;
            width: 13vw;
            height: auto;
            
            z-index: 1;
          }

        }
        
        


      }

    }
  }

  /*boton next */ 
  >button:nth-child(5){
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 4vw;
    font-family: "titulos.ttf";
    font-size: 1.8vw;
    border-top: 0.25vw solid whitesmoke;
    background-color: #111111;
    &:hover{
      cursor: pointer;
      font-size: 2.1vw;
      background-color: #252525;
    }
  }
}

/* estilos de las tarjetas de raza */
.race-card {
  border: 2px solid transparent;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.25s ease;
}
.race-card.selected {
  
  background-color: rgba(0, 136, 5, 0.719);
}
.race-card:hover {
  box-shadow: 0px 0px 10px 7px rgba(0,255,60,1);
}



/* borde de linea del genderselectorcontainer */
.MuiOutlinedInput-root {
  border-radius: 0.75vw !important;
  outline: 0.25vw solid whitesmoke !important;
  border: none !important; 
  height: 3.5vw !important;
  font-size: 2vw !important;
  font-family: "texto.ttf", sans-serif !important;
  }

/*menu interno del genderselectorcontainer */
.MuiList-root{
  color: whitesmoke !important;
  background: #252525 !important;
  font-family: "texto.ttf", sans-serif !important;
}
.MuiButtonBase-root{
  font-family: "texto.ttf", sans-serif !important;
  background: #252525 !important;
  &:hover{
    background-color: rgb(80, 80, 80) !important;
  }
}

/* seleccion de clase*/ 
.classcreatecontainer{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 0.25vw solid whitesmoke;
  border-radius: 1vw;

   /*choose your race*/
   >div:nth-child(1){
    
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
    }
    >p{
      font-family: "texto.ttf";
      font-size: 2vw;
    }
  }

  >div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    
    >div{
      
      width: 48%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;
      border-radius: 1vw;
      border: 0.25vw solid whitesmoke;
      padding: 1vw;
      >div{
        >h2{
          font-size: 2vw;
          font-family: "titulos.ttf";
        }
        >p{
          font-family: "texto.ttf";
          font-size: 2vw;
        }
      }
    

      

    }
    

  }

  >button:nth-child(3){
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 4vw;
    font-family: "titulos.ttf";
    font-size: 1.8vw;
    border-top: 0.25vw solid whitesmoke;
    background-color: #111111;
    &:hover{
      cursor: pointer;
      font-size: 2.1vw;
      background-color: #252525;
    }
  }
}

/* estilos para las tarjetas de seleccion de clase  */ 
.class-selector-container {
  cursor: pointer;
  transition: all 0.25s ease;
}
.class-option{
  transition: all 0.25s ease;
}
.class-option.selected {
  transition: all 0.25s ease;
  background-color: rgba(0, 136, 5, 0.719);
}
.class-option:hover {
  box-shadow: 0px 0px 10px 7px rgba(0,255,60,1);
}

.equipementcreatecontainer{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 0.25vw solid whitesmoke;
  border-radius: 1vw;
  >div:nth-child(1){
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
    }
    >p{
      font-family: "texto.ttf";
      font-size: 2vw;
      }
  }

  >div:nth-child(2){
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
      padding: 0 1vw;
    }
  }
  
  >div:nth-child(3){
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
      padding: 0 1vw;
    }
  }

  >div:nth-child(4){
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
      padding: 0 1vw;
    }
  }

  >div:nth-child(5){
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
      padding: 0 1vw;
    }
  }

  >button:nth-child(6){
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 4vw;
    font-family: "titulos.ttf";
    font-size: 1.8vw;
    border-top: 0.25vw solid whitesmoke;
    background-color: #111111;
    &:hover{
      cursor: pointer;
      font-size: 2.1vw;
      background-color: #252525;
    }
  }

}

.statscreatecontainer{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 0.25vw solid whitesmoke;
  border-radius: 1vw;
  
  >div:nth-child(1){
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
    }
    >p{
      font-family: "texto.ttf";
      font-size: 2vw;
      }
  }

  >div:nth-child(2){
    margin-left: 1vw;
    margin-right: 1vw;
    color: whitesmoke;
    h1{
      font-family: "texto.ttf";
      font-size: 2vw;
    }
  }

  >button:nth-child(3){
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 4vw;
    font-family: "titulos.ttf";
    font-size: 1.8vw;
    border-top: 0.25vw solid whitesmoke;
    background-color: #111111;
    &:hover{
      cursor: pointer;
      font-size: 2.1vw;
      background-color: #252525;
    }
  }
}
/* estilos de la pestaña review*/
.reviewcreatecontainer{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  border: 0.25vw solid whitesmoke;
  border-radius: 1vw;

  >div:nth-child(1){
    width: 100%;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
      padding: 0 1vw;
    }
    >p{
      font-size: 1.8vw;
      font-family: "texto.ttf";
      padding: 0 1vw;
    }
  }
  img:nth-child(2){
    background-color: #252525;
    border: solid 0.25vw whitesmoke;
    border-radius: 1vw;
    padding: 1vw;
    width: 13vw;
    height: auto;
  }

  >div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    width: 100%;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
     }
     div{
      display: flex;
      flex-direction: row;
      div{
        
        width: 49%;
        display: flex;
        flex-direction: column;
        p{
          font-size: 1.8vw;
          font-family: "texto.ttf";
        }
      }
     }
   }

  >div:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    width: 100%;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
     }
     div{
      display: flex;
      flex-direction: row;
      div{
        
        width: 49%;
        display: flex;
        flex-direction: column;
        p{
          font-size: 1.8vw;
          font-family: "texto.ttf";
        }
      }
     }

  }
  
  >div:nth-child(5){
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    width: 100%;
    
    >h1{
      font-size: 2vw;
      font-family: "titulos.ttf";
    }
    >div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1vw;
      div{
        border-radius: 1vw;
        border: 0.25vw whitesmoke solid;
        background-color: #252525;
        height: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 49%;
        >h1{
          font-size: 1.8vw;
          font-family: "titulos.ttf";
        }
        >p{
          font-size: 1.8vw;
          font-family: "texto.ttf";
        }
      }

    }
  }
 
  button{
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 4vw;
    font-family: "titulos.ttf";
    font-size: 1.8vw;
    border-top: 0.25vw solid whitesmoke;
    background-color: #111111;
    &:hover{
      cursor: pointer;
      font-size: 2.1vw;
      background-color: #252525;
    }
  }
    
}

/* Estilos de la pagina mycharacters*/
.character-list {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  color: black;
}

.character-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #252525;
  color: black;
}

.character-basic-info {
  margin-bottom: 10px;
  color: black;
}

.character-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  color: black;
}

.details-button {
  background-color: #4CAF50;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.character-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  color: black;
}
